.row
  %h5> Mining is tough business!
  I am very sure, that this awesome took will help you to keep track of your mining operation. If this was helpful to you, please consider a small donation to help improving this service. Hosting isn't free and cheap!
.row
  XMR:
  %code 47JUJMoxKkJL2v1iaEx31ngQCQcEGobUpevqtzSzKPTAEAt1Ay7NZrQgU6mnN2mVyWi7yk2ig68KsU8bfXQ45ainEAchp1T
.row
  LTC:
  %code LiXw5wQw7tbdzNPrhBA5UaMyvZwys8ZXfj
.row
  ETH:
  %code 0x99b04eC0C6E85c3b0F54f6a09b4745571b3142fD
.row
  Doge:
  %code DQH2Eou1Wf7LABpX6St7vkxqBvYbkGim4J
%br/
%br/
%small Thanks for all the donations! I will keep improving this tool
